#content
  flex-direction column

.step-container
  margin-top 10rem
  height auto
  background white
  width 100%
  position relative
  .game
    display flex
    flex-wrap wrap
    .game-category
      display flex
      flex-wrap wrap
      background #ccc
      border 2px solid black
      .world-record
        fill yellow
