/* CUSTOM STORY STYLE */
#content
	display flex
	flex-wrap nowrap
	overflow-x auto

	.world
		flex 0 0 auto
		width 100%
		height 100vh

		.ground
			position fixed
			left 0
			bottom 0
			width 100%
			height 32px
			background-repeat repeat
			background-size auto

	.world1
		background-color #5c94fc

		.ground1
			background-image url('assets/images/GroundBlock_W1.png')

	.world2
		background-color $off-black

		.ground1
			background-image url('assets/images/GroundBlock_W2.png')

	.world3
		background-color $off-black

		.ground1
			background-image url('assets/images/GroundBlock_3.png')
