/* CUSTOM STORY STYLE */
#content
	display flex
	flex-wrap nowrap
	overflow-x auto

	.world
		flex 0 0 auto
		width 100%
		height auto
		position relative

		.ground
			position absolute
			left 0
			bottom 0
			width 100%
			height 32px
			background-repeat repeat
			background-size auto

	.world1
		background-color #5c94fc

		.ground1
			background-image url('assets/images/GroundBlock_W1.png')

	.world2
		background-color $off-black

		.ground2
			background-image url('assets/images/GroundBlock_W2.png')

	.world3
		background-color $off-black

		.mario-elements

			.ground3
				background-image url('assets/images/GroundBlock_W3.png')

			.start-pipe
				background-image url('assets/images/Pipe.png')
				position fixed
				left 32px
				bottom 32px
				width 64px
				height 64px

		.text-container
			padding 4rem 32px 0 32px
			height 100vh
			position absolute
			width 100%

			.world-num

				p
					color $white
					font-family $pixel
					margin 0
					padding 0
					set-type-size(small)

		.chart-container
			margin 4rem 32px 0 32px
			height calc(100vh - 4rem - 32px)
			position absolute
			padding-top 64px
			width calc(100% - 64px)

			.circle-369p0g1l
				fill rgba(green, 0.7)

			.circle-9d385g1l
				fill rgba(yellow, 0.7)

			.circle-om1m3625
				fill rgba(red, 0.7)

			.x.axis
				.domain
					display none

				line
					display none

				text
					fill $white

			.y.axis
				.domain
					display none

				.g-baseline
					fill none
					stroke rgba($white, 0.1)

				line
					fill none
					stroke rgba($white, 0.1)

				text
					fill $white
