<div class='world world3'>
	<div class='mario-elements'>
		<div class='start-pipe'></div>
		<div class='ground ground3'></div>
	</div>
	<div class='text-container'>
		<div class='world-num'><p>World 3-1</p></div>
	</div>
	<div class='chart-container' id='plateau-chart'>
	</div>
</div>
